.navbar {
  position : fixed;
  left : 70px;
  top : 10vh;
  width: 15vw; 
  height: 89vh; 
  background-color: rgba(255, 255, 255, 0.3);
<<<<<<< HEAD
  backdrop-filter: blur(2px);
  margin-left: 10px; 
=======
  backdrop-filter: blur(20px);
>>>>>>> 6879061 (feat : main page 구조)
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 150px;
  z-index : 2;

  .btn{
    display : flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    top : 15px;
    right : 20px;
    text-align: end;

    cursor : pointer;

    &:hover{
      color : #FFB704;

      &::before{
        position : absolute;
        display : flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0, 0.8);
        color : white;
        font-weight : bold;
        left : 30px;
        width : 70px;
        height : 30px;
        border : 1px solid black;
        border-radius: 10px;
        content : attr(data-content);
      }
      &::after{
          position : absolute;
          content : '';
          left : 15.8px;
          border-width : 7px;
          border-style : solid;
          border-color : transparent rgba(0, 0, 0, 0.8) transparent transparent; 
      }
    }
  }
}

.menuItems {
  margin-top: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.05);

    .icon {
      color: #006d0d; 
    }

    .label {
      color: #006d0d; 
    }
  }
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}