.mainContent {
    flex: 1;
    padding: 20px;
}

.loginBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;

    .logo {
        width: 70%;
        margin-bottom: 10%;
    }

    .loginBtn {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            cursor: pointer;
        }
    }
    
    img {
        width: 100%;
        margin: 3%;
    }
}