.background {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 20px;
}

.block {
  position: absolute;
  top: calc(max(60px, 10vh));
  left: 70px;
  width: 94.5vw;
  height: 89vh;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.postBlock {
  width: 85%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .upperNav {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .leftBlock {
      display: flex;
      align-items: end;

      button {
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
      }

      .activeButton {
        background-color: #0070f3;
        color: white;
      }

      .inactiveButton {
        background-color: #f0f0f0;
        color: black;
      }
    }

    .rightBlock {
      display: flex;
      align-items: end;
      gap: 10px;

      .sortDropdown {
        display: inline-block;
      }

      .label {
        font-size: 14px;
        color: #333;
        margin-bottom: 5px;
        display: block;
      }

      .dropdown {
        width: 150px;
        padding: 10px;
        border: none;
        background-color: #fff;
        font-size: 16px;
        color: #333;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
      }

      .dropdown:focus {
        outline: none;
        border-color: #0070f3;
      }

      .dropdown:hover {
        border-color: #0070f3;
        cursor: pointer;
      }

      .searchContainer {
        display: flex;
        align-items: center;
        position: relative;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        padding: 5px;
        transition: all 0.5s ease;
        width: fit-content;
        height: 50%;
      }

      .searchIcon {
        font-size: 24px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s ease;
      }

      .searchIcon:hover {
        color: #0070f3;
      }

      .searchInput {
        padding: 8px;
        border: none;
        width: 0;
        opacity: 0;
        transition: width 0.5s ease, opacity 0.5s ease;
        outline: none;
      }

      .searchInput.open {
        width: 20vw;
        opacity: 1;
      }

      .searchInput:focus {
        border-color: none;
      }
    }

    .centerBlock {
      display: flex;
      align-items: end;
      gap: 15px;
    }
  }

  .newsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90%;
    box-sizing: border-box;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .news {
      background-color: white;
      width: 80%;
      height: 110px;
      padding: 1%;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      gap: 10px;
      box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
    }

    .newsInfo {
      display: flex;
      justify-content: space-between;
      height: 20px;
      font-size: 14px;

      span {
        &:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: bold;
          box-sizing: border-box;
          background-color: #ffa505;
          border-radius: 5px;
          padding: 3px;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-weight: bold;
          box-sizing: border-box;
          background-color: #f5f7fa;
          border-radius: 5px;
          padding: 3px;
        }
      }
    }

    .newsTitle {
      color: black;
      text-decoration: none;
      font-size: 16px;

      :hover {
        color: #004fe2;
      }

      h3 {
        margin: 10px 0;
      }
    }

    .newsContent {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      box-sizing: border-box;
      background-color: #f5f7fa;
      border-radius: 5px;
      padding: 3px;
      font-size: 14px;
      margin: 0;
    }

    .newsBody {
      width: 90%;
      height: 100%;
      box-sizing: border-box;
    }

    .newsStats {
      width: 10%;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;

      .count {
        display: flex;
        gap: 5px;
        color : green;
      }

      .scrapBtn {
        font-size: 28px;

        .colorBookmark {
          color: red;
        }
      }
    }
  }

  .policyList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90%;
    box-sizing: border-box;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .policy {
      background-color: white;
      width: 80%;
      height: 110px;
      padding: 1%;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      gap: 10px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    }

    .policyInfo {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      height: 20px;

      span {
        &:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: bold;
          box-sizing: border-box;
          background-color: #ffa505;
          border-radius: 5px;
          padding: 3px;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-weight: bold;
          box-sizing: border-box;
          background-color: #f5f7fa;
          border-radius: 5px;
          padding: 3px;
        }
      }
    }

    .policyTitle {
      font-size: 16px;
      display: grid;
      grid-template-columns: 170px 620px;
      gap: 3%;

      h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }

      a {
        color: #333;
        text-decoration: none;

        :hover {
          color: #004fe2;
        }
      }
    }

    .policyContent {
      font-size: 14px;
      margin: 0;

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          display: flex;
          align-items: center;
          margin: 0;
          gap: 3px;
        }
        .word {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-weight: bold;
          box-sizing: border-box;
          background-color: #f5f7fa;
          white-space: nowrap;
          border-radius: 5px;
          padding: 3px;
        }

      }
    }

    .policyBody {
      width: 90%;
    }

    .policyStats {
      width: 10%;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;

      .count {
        display: flex;
        gap: 5px;
        color : green;
      }

      .scrapBtn {
        font-size: 28px;

        .colorBookmark {
          color: red;
        }
      }
    }
  }
}

.pageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 50vh;
  margin: 0 3vw;

  .arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .arrowIcon {
      color: orange;
      font-size: 18px;
    }
  }

  .numberList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .number {
      font-size: 16px;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .highlight {
      color: orange;
      font-weight: bold;
      background-color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}
