.main{
    width : 100vw;
    height : 4000px;
    position : relative;

    .box{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width : 100vw;
        height : 100vh;
        position : sticky;
        top : 0;
        font-weight : bold;
        gap : 3vh;

        .first{
            font-size : 5vw;
            opacity: 0;
            transition : opacity 0.5s linear;
        }

        .second{
            font-size : 5vw;
            opacity: 0;
            transition : opacity 0.5s linear;
            color : #ff9100;
        }

        .last{
            font-size : 17vw;
            color : #588157;
            text-shadow: 10px 10px black;
        }

        .start{
            display :flex;
            justify-content: center;
            align-items: center;
            width : 300px;
            height : 100px;
            border-radius: 20px;
            font-size : 3vw;
            color : white;
            background-color: #FFB704;
            box-shadow: 4px 4px 4px #bc8702;
            transition : 0.3s all;

            &:hover{
                cursor : pointer;
                background-color : #d19601;
            }
            
        }
    }
}