.main{
    width : 7800px;
    height : 200px;
    display : flex;
    overflow : hidden;
    white-space: nowrap;

    .imgBox{
        width : 100%;
        min-width: 100px;
        margin-right: 20px;
        padding : 10px;
        word-break: keep-all;
        unicode-bidi: isolate;
        animation : aniScroll 30s linear infinite
    }

    .img{
        width : 300px;
        height : 100%;
        box-sizing: border-box;
        padding : 30px;
    }
}

@keyframes aniScroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform : translateX(-3900px);
    }
}