.background {
    height: 100vh;
    display: flex;
    align-items: center;
}

.block {
    position: absolute;
    top: 11vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92vw;
    height: 85vh;
}

.formBlock {
    width: 40%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .headerText {
        text-align: center;
        color: rgb(60, 60, 60);
    }

    .formArea {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.imageContainer {
    width: 200px;  /* 원하는 이미지 크기 지정 */
    height: 200px;  /* 고정된 크기 설정 */
    display: flex;
    justify-content: center;  /* 이미지 가운데 정렬 */
    align-items: center;
    margin-top: 20px;  /* 버튼과 이미지 사이의 간격 */
    overflow: hidden;  /* 이미지가 넘치는 경우 잘라냄 */
    border-radius: 10px;
}

.imageContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;  /* 이미지가 컨테이너에 맞게 크기 조정 */
}
