<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
body{
    margin : 0px;
    padding : 0px;
=======
=======
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

>>>>>>> 1200771 (feat : modify trend page and font and promotion page)
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Pretendard-Regular";
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
<<<<<<< HEAD
>>>>>>> d71bad4 (feat : add promotion page)
=======

  background-image: url('/image/background.png');
  background-size: cover; /* 배경 이미지가 비율에 맞게 화면을 꽉 채우도록 조정 */
  background-position: center; /* 이미지의 중심을 화면의 중심에 맞추기 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
>>>>>>> 775ebbc (feat : 이것저것 끄적끄적)
}

.ql-toolbar.ql-snow {
    border-radius: 10px 10px 0 0;
    border: none !important;
    border-bottom: solid 1px rgb(221, 221, 221) !important;
}

.ql-container.ql-snow {
    border-radius: 0 0 10px 10px;
    border: none !important;
}
=======
@font-face {
  font-family: "힘내라는말보단";
  src: url("./fonts/test.ttf");
}

@font-face {
  font-family: "흰꼬리수리";
  src: url("./fonts/test2.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
>>>>>>> a336d7c (feat : add promotion page)
