<<<<<<< HEAD
body{
    margin : 0px;
    padding : 0px;
}

.ql-toolbar.ql-snow {
    border-radius: 10px 10px 0 0;
    border: none !important;
    border-bottom: solid 1px rgb(221, 221, 221) !important;
}

.ql-container.ql-snow {
    border-radius: 0 0 10px 10px;
    border: none !important;
}
=======
@font-face {
  font-family: "힘내라는말보단";
  src: url("./fonts/test.ttf");
}

@font-face {
  font-family: "흰꼬리수리";
  src: url("./fonts/test2.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
>>>>>>> a336d7c (feat : add promotion page)
