/* app/not-found.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 8rem;
    color: #ff6347;
    margin: 0;
  }
  
  .message {
    font-size: 1.5rem;
    color: #333;
  }
  
  .homeLink {
    margin-top: 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0070f3;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .homeLink:hover {
    background-color: #005bb5;
  }
  