.container {
  display : flex;
  align-items: center;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #EAEAEA;

  .chart {
    position : relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height : 90%;
    padding-left: 20px;

    .center{
        position : absolute;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            &:nth-child(1){
                font-size : 20px;
                font-weight : bold;
            }
        }
    }
  }

  .legend{
    display : flex;
    width : 60%;
    height : 100%;
    
    .left{
        width : 50%;
        height : 100%;
        display : flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .right{
        width : 50%;
        height : 100%;
        display : flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
  }
}

.legendItem {
    display: grid;
    grid-template-columns: 8% 32% 40% 30%;
    align-items: center;

    span{
        &:nth-child(3){
            font-weight : bold;
            font-size : 17px;
        }

        &:nth-child(4){
            font-size : 20px;
            font-weight : bold;
        }
    }
}

.legendColor {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.legendLabel {
    font-size: 14px;
    color: #333;
}

.dnjftndlr{
    display :grid;
    grid-template-columns: 60% 20% 15% 5%;
    width : 100%;
    height : 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #EAEAEA;

    span{
        &:nth-child(3){
            font-size : 17px;
            font-weight : bold;
            color : #7E6EF7;
        }
        &:nth-child(4){
            font-size : 17px;
            font-weight : bold;
            color : #7E6EF7;
        }
    }

}