.background {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formField {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 10px;

    input {
        border: none;
        border-radius: 10px;
        padding: 0 10px;
        height: 5vh;
    }

    input:disabled {
        background-color: gainsboro;
    }
}

.formAndButton {
    position: relative;
    display: flex;
    align-Items: center;
    gap: 10px;

    button {
        position: absolute;
        bottom: 0;
        left: 32vw;
    }
}

.dateField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30vw;

    input {
        border: none;
        border-radius: 10px;
        padding: 0 10px;
        height: 5vh;
    }
}

.imgContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #888;
    border: 2px dashed #ccc;
}

.profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}