.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  padding: 10px;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  min-height: 60px;
}

.logoContainer {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor : pointer;

  img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  p {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #333;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #f3f5fa;
  border-radius: 10px;
  width: 30vw;
  height: 30%;
  padding: 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #9aa3b0;
  width: 100%;
}