.background {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.contentsArea {
    position: absolute;
    top: 16vh;
    left: 5vw;
    width: 92vw;
    height: 75vh;
    display: flex;
    align-items: center;
    gap: 2vh;
    // justify-content: space-between;
}

.postSummary {
    width: 35vw;
    height: 55vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    margin-bottom: 2vh;

    .backButton {
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        left: 3%;
    }

    .summImg {
        margin-top: 8%;
        margin-bottom: 2%;
        width: 90%;
        max-height: 50%;
        object-fit: cover;
        border-radius: 10px;
    }

    .nonImg {
        width: 90%;
        min-height: 50%;
        object-fit: cover;
    }

    .summContent {
        width: 85%;
        display: flex;
        justify-content: space-between;

        .postInfo {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .infoHead {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;

                .count {
                    display: flex;
                    gap: 10px;
                }
            }

            h2 {
                margin: 10px 0;
            }

            p {
                margin: 5px 0;
                font-size: 12px;
            }

            .info {
                color: gray;
            }
        }

        .postBtnGroup {
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bookmark {
                font-size: 28px;
            }

            .colorBookmark {
                font-size: 28px;
                color: red;
            }

            .editDeleteBtn {
                display: flex;
                gap: 20px;
                font-size: 12px;

                p {
                    margin: 0;
                }

                .edit {
                    cursor: pointer;
                }

                .edit:hover {
                    color: rgb(124, 124, 124);
                }

                .delete {
                    cursor: pointer;
                    color: red;
                }

                .delete:hover {
                    color: rgb(170, 0, 0);
                }
            }
        }
    }

}

.comments {
    width: 35vw;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    .commentBlock {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        height: 97%;
        padding: 10px;

        .commentHeader {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                color: gray;
            }
        }

        .commentForm {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            
            .commentInput {
                flex-grow: 1;
                height: 40px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                resize: none;
                outline: none;
            }
    
            .commentInput::placeholder {
                color: #aaa;
            }
    
            .submitButton {
                margin-left: 10px;
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;
                transition: background-color 0.3s ease;
            }
    
            .submitButton:hover {
                background-color: #0056b3;
            }
        }

    }

}

.narrowPostSummary {
    width: 35vw;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    margin-bottom: 2vh;
    cursor: pointer;

    .backButton {
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        left: 3%;
    }

    .summBody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 2%;

        .summImg {
            margin-top: 6%;
            height: 80%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 10px;
        }
    
        .summContent {
            width: 85%;
            display: flex;
            justify-content: space-between;
    
            .postInfo {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
    
                .infoHead {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 12px;
    
                    .count {
                        display: flex;
                        gap: 10px;
                    }
                }
    
                h2 {
                    margin: 10px 0;
                }
    
                p {
                    margin: 5px 0;
                    font-size: 12px;
                }
    
                .info {
                    color: gray;
                }
            }
    
            .postBtnGroup {
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: default;
    
                .bookmark {
                    font-size: 28px;
                }
    
                .colorBookmark {
                    font-size: 28px;
                    color: red;
                }
    
                .editDeleteBtn {
                    display: flex;
                    gap: 20px;
                    font-size: 12px;
    
                    p {
                        margin: 0;
                    }
    
                    .edit {
                        cursor: pointer;
                    }
    
                    .edit:hover {
                        color: rgb(124, 124, 124);
                    }
    
                    .delete {
                        cursor: pointer;
                        color: red;
                    }
    
                    .delete:hover {
                        color: rgb(170, 0, 0);
                    }
                }
            }
        }
    }


}

.wideComments {
    width: 35vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    .commentBlock {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        height: 90%;
        padding: 10px;

        .commentHeader {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                color: gray;
            }
        }

        .commentList {
            height: 60%;
            overflow-y: auto;
            margin-bottom: 2%;
            padding-right: 10px; 
            scrollbar-width: thin; 
            scrollbar-color: #888 #f1f1f1; 

            .comment {
                padding: 2%;
                border-radius: 10px;
                box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
                margin-bottom: 2%;
                
                p {
                    margin: 1%;
                }
                
                .titleArea {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .date {
                        font-size: 12px;
                    }
                }

                .contentArea {
                    font-size: 14px;
                }
            }
        }

        .commentForm {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            
            .commentInput {
                flex-grow: 1;
                height: 40px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                resize: none;
                outline: none;
            }
    
            .commentInput::placeholder {
                color: #aaa;
            }
    
            .submitButton {
                margin-left: 10px;
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;
                transition: background-color 0.3s ease;
            }
    
            .submitButton:hover {
                background-color: #0056b3;
            }
        }

    }

}

.postDetail {
    width: 55vw;
    height: 84vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    .postBlock {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        height: 95%;
        padding: 10px;
    }
}